.main{
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    z-index: 100;

    &.disabled{
        filter: blur(6px);
    }

    .main__content{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        
        .card{
            width: 90%;
            margin: 0;
            padding: 0;
            height: 80%;
            position: relative;
            border-radius: 25px;
            overflow: hidden;
            box-shadow: none;

            .card__bg{
                position: absolute;
                height: 100%;
                width: 100%;
                background: url(card__bg.png);
                z-index: 10;
            }

            .card__content{
                z-index: 20;
                position: absolute;
                height: 100%;
                width: 100%;

                .card__logo-part{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding-top: 8%;

                    .card--logo{
                        width: 60%;
                    }
                }

                .card__title-part{
                    padding: 0 3.2vmax;
                    margin-top: 20%;

                    .card--title{
                        font-size: 3.3vmax;
                        font-family: Montserrat;
                        font-weight: 400;
                        text-align: center;
                    }
                }
                
                .card__from{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin-top: 5vmax;


                    .input__container{
                        width: 90%;
                        margin: 0;

                        input{
                            border-bottom: 1px solid #000;
                        }

                        label{
                            color: #4c4646;
                        }
                    }

                    button{
                        padding: 1.2vmax 4vmax;
                        color: #ffffff;
                        font-family: Montserrat;
                        font-size: 2.4vmax;
                        font-weight: 500;
                        margin-top: 5vmax;
                        border-radius: 50px;
                        border: none;
                        background-image: linear-gradient(180deg, #138871 0%, #0a4439 100%);
                    }
                }
            }
        }
        
    }
}

.main__loader.active{
    z-index: 999;
    position: absolute;
    height: 100%;
    width: 100%;
    background: #16231cbd;
    display: flex;
    align-items: center;
    justify-content: center;

    .loader{
        width: 200px;
        height: 200px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        &.active{
            .c-lvl-1,
            .c-lvl-2,
            .c-lvl-3{
                display: none;
            }
            .c-lvl-info{
                overflow: visible;

                .info--title{
                    // display: block;
                    position: absolute;
                    top: -36vmax;
                    font-size: 3.5vmax;
                    width: 90vmin;
                    left: -43%;
                    text-align: center;
                    color: #d6fff7;
                }

                .info--subtitle{
                    // display: block;
                    position: absolute;
                    bottom: -30vmax;
                    font-size: 3.6vmax;
                    text-align: center;
                    width: 90vmin;
                    left: -40%;
                    color: #d6fff7;
                }
            } 
        }


        .c-lvl-info{
            position: relative;
            overflow: hidden;
            height: 50vw;
            width: 50vw;
            border-radius: 50%;


            .info--title{
                display: none;
            }

            .info--subtitle{
               display: none;
            }

            .loader-logo{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                position: absolute;
                height: 100%;
                width: 100%;

                img{
                    position: absolute;
                    display: none;

                    &.move-2,
                    &.move-3{
                        width: 37vw;
                    }
                }
            }
        }

        .c-lvl-1{
            position: absolute;
            background: url(level-1.png);
            width: 90vw;
            height: 87vw;        
            background-size: contain;
            background-repeat: no-repeat;
            animation: 8s cubic-bezier(0.18, 0.89, 0.32, 1.28) 0s normal none infinite running rot1;
        }


        .c-lvl-2{
            position: absolute;
            background: url(level-2.png);
            width: 72vw;
            height: 72vw;
            background-size: contain;
            background-repeat: no-repeat;
            background-repeat: no-repeat;
            animation: 3s cubic-bezier(0.4, 0, 0.2, 1) 0s normal none infinite running rot2;
        }

        .c-lvl-3{
            position: absolute;
            background: url(level-3.png);
            width: 55vw;
            height: 55vw;
            background-size: contain;
            background-repeat: no-repeat;
            background-repeat: no-repeat;
            animation: 5s ease-in-out 0s normal none infinite running rot3;
        }

          @keyframes rot1 {
            0% {
              transform: rotate(360deg);
            }
            100% {
              transform: rotate(0deg);
            }
          }

          @keyframes rot2 {
            0% {
              transform: rotate(0deg);
            }
            100% {
              transform: rotate(360deg);
            }
          }

          @keyframes rot3 {
            0% {
              transform: rotate(360deg);
            }
            100% {
              transform: rotate(0deg);
            }
          }
    }
}



